 #sidebar-wrapper {
     height: 130vh;
     position: relative;
     padding-top: 2%;
     margin-left: -15rem;
     -webkit-transition: margin .25s ease-out;
     -moz-transition: margin .25s ease-out;
     -o-transition: margin .25s ease-out;
     transition: margin .25s ease-out;
 }
 
 #sidebar-wrapper .sidebar-heading {
     padding: 0.875rem 1.25rem;
     font-size: 1.2rem;
 }
 
 #sidebar-wrapper .list-group {
     width: 15rem;
     text-align: left;
 }
 
 #sidebar-wrapper .list-group a {
     color: black;
 }
 
 #sidebar-wrapper .list-group a:hover {
     //   color: darkgreen
     font-weight: 800;
 }
 
 #sidebar-wrapper .list-group a:active {
     background-color: inherit;
 }
 
 #page-content-wrapper {
     min-width: 100vw;
 }
 
 #wrapper.toggled #sidebar-wrapper {
     margin-left: 0;
 }
 
 @media (min-width: 768px) {
     #sidebar-wrapper {
         margin-left: 0;
     }
     #page-content-wrapper {
         min-width: 0;
         width: 100%;
     }
     #wrapper.toggled #sidebar-wrapper {
         margin-left: -15rem;
     }
 }
 
 .bg-light {
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Sd-88EPHcOxaDwZRoLjcfawTWwh5Rsp27w&usqp=CAU');
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 #page-content-wrapper {
     background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 }
 
 .view {
     background: url("../../assets/image/background.jpg")no-repeat center center;
     background-size: cover;
     margin-top: 6%;
     // height: 120vh;
     height: 130vh;
     background-attachment: fixed;
 }
 
 .mask {
     background: linear-gradient( 25deg, rgba(67, 67, 67, 0.5), rgba(0, 0, 0, 0.6) 100%);
 }
 
 ::ng-deep .navbar-nav .nav-item {
     font-weight: 100;
     font-size: large;
 }
 
 .top-nav-collapse {
     background-color: #4285F4;
 }
 
 @media only screen and (max-width: 768px) {
     .navbar {
         background-color: #4285F4;
     }
 }
 
 #myLogo {
     width: 70px;
     height: 60px;
 }
 
 //Nav-link hover effect
 .nav-link {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     position: relative;
     overflow: hidden;
 }
 
 .nav-link::before {
     content: "";
     position: absolute;
     z-index: -1;
     left: 50%;
     right: 50%;
     bottom: 0;
     background: #00cc00;
     height: 4px;
     -webkit-transition-property: left, right;
     transition-property: left, right;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
 }
 
 .nav-link:hover:before,
 .nav-link:focus:before,
 .nav-link:active:before {
     left: 0;
     right: 0;
 }
 
 .waves-light {
     padding: 2px 4px;
 }