<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top stylish-color-dark navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav waves-light" class="navCss" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#">
                <img id="myLogo" src="../../assets/image/logo.png" alt="">
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav" style="margin-left: 90%;">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a routerLink='/' class="nav-link" (click)='logout()'>Log-out</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" *ngIf='user'>
            <a [routerLink]="'profile'">
                <!-- <i class="fa fa-user-circle fa-5x"></i> -->
                <mdb-icon fas icon="user-circle" size="5x" class="text-dark"></mdb-icon>
            </a>
            <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
        <div class="list-group list-group-flush">
            <a [routerLink]="'dashboard'" class="list-group-item list-group-item-action bg-light"> <i class="fa fa-chart-line"> </i> &nbsp; Dashboard</a>
            <a [routerLink]="'expenses'" class="list-group-item list-group-item-action bg-light"><i class="fa fa-plus-circle"> </i> &nbsp; Expenses</a>
            <a [routerLink]="'expenses-report'" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-clipboard-list"> </i> &nbsp; Expenses Report</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button class="text-light float-left ml-2 mt-4 h-5" style="background-color:gray;" id="menu-toggle" (click)='changeBtnValue()'>{{btnValue}}</button>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>