<div class="container mt-1">
    <h2 class="display-6 text-dark mt-5">User Management</h2>
    <table class="table table-hover w-75 mt-5">
        <thead>
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
                <td>{{ el.expense_category }}</td>
                <td>{{ el.total_amount }}</td>
            </tr>
        </tbody>
    </table>
</div>