<div class="profile" *ngIf='!update'>
    <h2 class="display-6 text-dark mt-5">
        Basic Info</h2>
    <table class="table table-hover w-75 mt-5">
        <thead>
            <tr>
                <th scope="col">{{headElements}}</th>
                <th></th>
                <mdb-icon fas icon="user-circle" size="5x" style="margin-right: 1rem; margin-top: 0.5rem;"></mdb-icon>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.user}}</th>
                <td>{{el.value}}</td>
                <td>
                    <mdb-icon fas icon="pencil-alt" routerLink='update-profile' (click)='goToUpdate()'></mdb-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" *ngIf='update'>
    <router-outlet></router-outlet>
</div>