<div class="container mt-5">
    <div class="row">
        <div class="col ml-5">
            <canvas mdbChart [chartType]="chartType" [datasets]="yesterdayChartDataSets" [labels]="yesterdayChartLabels" [colors]="chartColors" [options]="yesterdayChartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
            <h6 class="text-dark">Amount : {{yesterdayExpensesAmount}}</h6>
        </div>
        <div class="col">
            <canvas mdbChart [chartType]="chartType" [datasets]="weeklyChartDataSets" [labels]="weeklyChartLabels" [colors]="chartColors" [options]="weeklyChartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
            <h6 class="text-dark">Amount : {{weeklyExpensesAmount}}</h6>
        </div>
        <div class="w-100"></div>
        <div class="col ml-5">
            <canvas mdbChart [chartType]="chartType" [datasets]="monthlyChartDataSets" [labels]="monthlyChartLabels" [colors]="chartColors" [options]="monthlyChartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
            <h6 class="text-dark">Amount : {{monthlyExpensesAmount}}</h6>
        </div>
        <div class="col ">
            <canvas mdbChart [chartType]="chartType" [datasets]="yearlyChartDataSets" [labels]="yearlyChartLabels" [colors]="chartColors" [options]="yearlyChartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
            <h6 class="text-dark">Amount : {{yearlyExpensesAmount}}</h6>
        </div>
    </div>
</div>